/* Global Styles */

* { 
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    padding-bottom: 65px;
}

/* Base Styles */

.container {
    padding: 1rem;
    padding-top: 0rem; 
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
}

p {
    text-align: center; 
}

.search {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border-color: #E5E5E5;
    border-style: solid;
    margin-bottom: .5rem;
    color: #7F7F7F; 
}

.search::placeholder {
    color: #7F7F7F;
}

.search:focus {
    outline-color: black;
    outline-width: 1px;  
}

img {
    width: 100px;
}

/* Flexbox Styles */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
}

.item {
    margin: .5rem;
}

 /* Lightbox Styles */
    
 .lb-details {
    text-align: center !important;
    width: 100% !important;
  }

  .lb-caption {
    font-size: 1rem !important;
  }

/* Media Queries */

    @media only screen and (min-width: 380px) {
        .search {
            width: 320px;  
        }

    }

    @media only screen and (min-width: 768px) {
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }

        .search {
            margin-top: 1rem;
            width: 490px;  
        }

        h1 {
            font-size: 1.75rem;
        }

        img {
            width: 100%;
        }

        /* Flexbox Styles */

        .item {
            margin: 1.70rem;  
        }
        
    }
    