/* Base Styles */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    padding-bottom: 65px;
}

.container {
    padding: 1rem;
    
}

.inner-container {
 
}

.search {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border-color: #E5E5E5;
    border-style: solid;
    margin-bottom: .5rem;
    
}

.search::placeholder {
    color: #7F7F7F;
}

img {
    width: 100px;
}

a {


}

/* Flexbox Styles */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.item {
    margin: .5rem;
}

 /* Lightbox Code */
    
 .lb-details {
    text-align: center !important;
    width: 100% !important;
    
  }

  .lb-caption {
    font-size: 1rem !important;
    
  }

/* Media Queries */

@media (min-width: 380px) {
    .search {
        width: 320px;
        
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .search {
        margin-top: 1rem;
        width: 490px;
        
    }

    img {
        width: 100%;
    }

    /* Flexbox Styles */

    .item {
        margin: 1.70rem;
        
    }

   

}